# Ignore dependencies installed by Composer
/vendor/

# Ignore environment-specific files
.env

# Ignore Composer files (except composer.json and composer.lock)
/composer.phar
/composer.lock

# Ignore IDE-specific files
.idea/
.vscode/
*.swp
*.swo


# Ignore system files
.DS_Store
Thumbs.db

# Ignore any custom storage or upload directories
/storage/

# Ignore PHPUnit cache
.phpunit.result.cache